<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div th:text="${fail}">

  </div>
  <script th:inline="javascript">
    window.onload = function() {
      document.querySelector('#pastpasswd').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          document.getElementById('passwd1').focus();
        }
      });

      document.querySelector('#pastpasswd').addEventListener('blur', (event) => {
       if (checkEmptyAndLength('pastpasswd')) {
         checkPassword();
       }


      });

      document.querySelector('#passwd1').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          document.getElementById('passwd2').focus();
        }
      });

      document.querySelector('#passwd1').addEventListener('blur', (event) => {
        if (checkEmptyAndLength('passwd1')) {
          var passwds =[[${memberVO.passwd}]];
          var passwd1 = document.getElementById('passwd1').value;
          let msg = document.getElementById('passwd1_msg');
          if (passwds == passwd1) {
            msg.innerHTML = "이전 패스워드와 변경할 패스워드가 같습니다. 수정해주세요";
          }

        }

      });

      document.querySelector('#passwd2').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      });

      document.querySelector('#passwd2').addEventListener('blur', (event) => {
        checkEmptyAndLength('passwd2');
        var passwdss =[[${memberVO.passwd}]];
        var passwd11 = document.getElementById('passwd2').value;
        let msg = document.getElementById('passwd2_msg');
        if (passwdss == passwd11) {
          msg.innerHTML = "이전 패스워드와 변경할 패스워드가 같습니다. 수정해주세요";
        }
      });
    }



    function checkEmptyAndLength(fieldId) {
      var fieldValue = document.getElementById(fieldId).value;
      var fieldmsg = document.getElementById(fieldId + "_msg");

      if (fieldValue.trim() === '') {
        fieldmsg.innerHTML = "공란은 불가입니다.";
        fieldmsg.style.color = "red";
        return false;
      } else if (fieldValue.trim().length <= 3) {
        fieldmsg.innerHTML = "4자 이상 입력해주세요";
        fieldmsg.style.color = "red";
        return false;
      } else {
        fieldmsg.innerHTML = ""; // 유효성 검사가 통과되었을 때 메시지를 초기화합니다.
        return true;
      }
    }




    function checkPassword() {
      var pastpasswd = document.getElementById('pastpasswd');


      let pastpasswd_msg = document.getElementById('pastpasswd_msg');

      pastpasswd_msg.innerHTML = "<img src='/images/progress.gif' style='width: 5%;'>";

      fetch('/member/checkpassword', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ pastpasswd: pastpasswd.value}),
      })
        .then(response => response.json())
        .then(data => {
          if (data.check == 1) {
            setTimeout(function() {
              pastpasswd_msg.innerHTML = "패스워드가 일치합니다!";
              pastpasswd_msg.style.color = "blue";
              pastpasswd_msg.style.marginTop = "10px";
            }, 2000);
          } else {
            setTimeout(function() {
              pastpasswd_msg.innerHTML = "패스워드가 일치하지 않습니다!";
              pastpasswd_msg.style.color = "red";
            }, 2000);
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function send() {
      var passwd1_msg = document.getElementById('passwd1_msg').innerText;
      var passwd2_msg = document.getElementById('passwd2_msg').innerText;
      var pastpasswd_msg = document.getElementById('pastpasswd_msg').innerText;

      if (passwd1_msg.startsWith("이전 ")) {

        alert("이전 패스워드와 변경할 패스워드가 같습니다.");
        return false;
       }

      if (passwd2_msg.startsWith("이전")) {

        alert("이전 패스워드와 변경할 패스워드 확인이  같습니다.");
        return false;
      }

      if (pastpasswd_msg.startsWith("공")) {

        alert("이전 패스워드 확인이 공란은 불가입니다.");
        return false;
      }
      if (passwd1_msg.startsWith("공")) {

        alert("변경할 패스워드 공란은 불가입니다.");
        return false;
      }
      if (passwd2_msg.startsWith("공")) {

        alert("변경할 패스워드 확인이 공란은 불가입니다.");
        return false;
      }

      if (pastpasswd_msg.startsWith("4자")) {

        alert("이전 패스워드 3자 이하는 불가능합니다.");
        return false;
      }
      if (passwd1_msg.startsWith("4자")) {

        alert("변경할 패스워드 3자 이하는 불가능합니다.");
        return false;
      }

      if (passwd2_msg.startsWith("4자")) {

        alert("변경할 패스워드 확인은 3자 이하는 불가능합니다.");
        return false;
      }





      if (passwd1_msg === "" &&  passwd2_msg === "" && pastpasswd_msg === "패스워드가 일치합니다!") {
        document.getElementById('frm').submit();
      }
    }
    </script>

  <ASIDE class="aside_right">
    <A href="javascript:location.reload();">새로고침</A>
    <span class='menu_divide'>│</span>
    <A href='./create.do'>회원 가입</A>
    <span class='menu_divide'>│</span>
    <A href='./list.do'>목록</A>
  </ASIDE>

  <div class='menu_line'></div>

  <div style="width: 60%; margin: 0px auto ">
    <div class="title_line">  비밀번호 수정 (*는 필수) > <span th:text= "@{|${memberVO.id} (${memberVO.mname})|}"></span>  </div>
    <form   id="frm" name="frm" th:object="${memberVO}" method="post" action="/member/update_password">
      <div style="align-items: center; display: none;">

        <input class="form-control form-control-sm"  id="memberno" name="memberno" th:value="${memberVO.memberno}" style=" width: 27%;" readonly></input>

      </div>










      <div class="form-group" style="margin-top: 10px;">
        <label>이전 패스워드*</label>
        <input type='password' name='pastpasswd'  id='pastpasswd' value='' required="required"
               placeholder="이전 패스워드 확인"  class="form-control form-control-sm" style="width: 27%;">

        <span id="pastpasswd_msg" style="color: red; margin-top: 10px;"> 공란은 불가입니다</span>

      </div>

      <div class="form-group" style="margin-top: 10px;">
        <label>변경할 패스워드 *</label>
        <input type='password' name='passwd1' id='passwd1' value='' required="required"
               placeholder="패스워드"  class="form-control form-control-sm" style="width: 27%;">
        <span id='passwd1_msg' style="color: red;">공란은 불가입니다</span>
      </div>


      <div class="form-group" style="margin-top: 10px;">
        <label>변경할 패스워드 확인*</label>
        <input type='password' name='passwd2'  id='passwd2' value='' required="required"
              placeholder="패스워드 확인" class="form-control form-control-sm" style="width: 27%;">
        <span id='passwd2_msg' style="color: red;">공란은 불가입니다</span>
      </div>





      <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="btn btn-primary" onclick="return send()" id="btn_send">수정</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '/';" id="btn_cancel">취소</button>
      </div>

    </form>
  </div>
</div>
