<!DOCTYPE html>
<div th:fragment="list_y_fragment"> <!-- <div th:replace=...-->


  <table class="table table-hover">
    <colgroup>

      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>

    </colgroup>
    <thead>
    <tr>

      <th class="th_bs">번호</th>
      <th class="th_bs">중분류</th>
      <th class="th_bs">소분류</th>
      <th class="th_bs">자료수</th>

      <th class="th_bs">순서</th>

    </tr>
    </thead>
    <tbody>
    <!-- Iterate over your data -->
    <tr th:each="cateVO : ${catelist}">

      <td class="td_bs" th:text="${cateVO.cateno}" id="cateno"></td>
      <td class="td_bs"><a th:href="@{|/cate/read_y/${cateVO.cateno}|}" style="display: block;"
                           th:text="${cateVO.name}"></a></td>

      <td class="td_bs"><a th:href="@{|/cate/read_y/${cateVO.cateno}|}" style="display: block;"
                           th:text="${cateVO.namesub}"></a></td>
      <td class="td_bs" th:text="${cateVO.cnt}"></td>
      <td class="td_bs" th:text="${cateVO.seqno}"></td>


    </tr>
    </tbody>
  </table>

</div>


