<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">생존 오지 오버랜딩 ver 2.0</div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">홈</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" th:each="Menu : ${menu}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" th:text="${Menu.name}">메뉴 1</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li th:each="cateVO : ${Menu.listnamesub}">
                <a class="dropdown-item" th:text="${cateVO.namesub}" href="#"></a>
              </li>
            </ul>
          </li>
          <li class="nav-item" th:if="${session.grade == 'admin'}">
            <a class="nav-link" href="/cate/search">목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cate/list_y">비회원/회원 카테고리 전체 목록</a>
          </li>
          <li class="nav-item" th:if="${session.id == null}">
            <a class="nav-link" href="/member/create">회원 가입</a>
          </li>
          <li class="nav-item" th:if="${session.id != null}">
            <a class="nav-link" href="/member/my_page" th:text="${session.mname}"></a>
          </li>
          <li class="nav-item" th:if="${session.id != null}">
            <a class="nav-link" href="/member/update_password" > 패스워드 변경</a>
          </li>
          <li class="nav-item" th:if="${session.grade == 'admin'}">
            <a class="nav-link" href="/member/list">회원 목록</a>
          </li>
          <li class="nav-item" th:if="${session.id == null}">
            <a class="nav-link" href="/member/login">로그인</a>
          </li>
          <li class="nav-item" th:if="${session.id != null}">
            <a class="nav-link" href="/member/logout">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
